body{
    font-family: 'Indie Flower', cursive;
    background-color: bisque;
    
}

.container{
    border: 1px solid black;
    display: inline-block;
    display: flex;
    background-color: aliceblue;
    margin-top: 10px;
}

p{
    padding: 0 0 0 20px;
}

img{
    padding: 10px 10px 0 10px;
}
